*{
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #01041C;
    overflow-x: hidden;
}

.desktop{
    background: #01041C;

}

.desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Desktop Logo styling*/

.desktop-nav .logo{
    display: flex;
    align-items: center;
    margin: 16px 0px 0px 152px;
    gap: 13.5px;
}

.desktop-nav .logo .logo-text{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Desktop Manu styling*/

.desktop-nav .main-manu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.desktop-nav .main-manu li{
    list-style: none;
    margin: 23px 0px 0px 0px;
}

.desktop-nav .main-manu li a{
    text-decoration: none;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    z-index: 1;
}

.desktop-nav .main-manu li a.active{
	color: #0084FF;
	font-family: Plus Jakarta Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.desktop-nav .main-manu li a.active::after{
    content: "";
    position: absolute;
    width: 100%;
	height: 2px;
	background: #0084FF;
	left: 0px;
	bottom: -6px;
}

/* Desktop Navbar Get Started Button styling*/

.desktop-nav .btn{
    width: 117px;
    height: 36px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.2), rgba(102, 96, 160, 0));
    backdrop-filter: blur(4px);
    border: 0.5px solid rgba(0, 132, 255, 0.4);
    box-sizing: border-box;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 15px 152px 0px 0px;
    cursor: pointer;
    z-index: 1;
}

/* Desktop Middle text styling*/

.hero-container{
  text-align: center;
}

.hero-container .main-text{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 123px 0px 0px 0px;
    position: relative;
    z-index: 1;
}

.hero-container .main-text .inner-text{
    background: linear-gradient(268deg, #0FD3FE 8.33%, #0E41ED 66.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-container .small-text{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 0px;
    position: relative;
    z-index: 1;
}

.hero-container .mid-Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-container .mid-Btn .tutorial-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px 0px 0px 0px;
    z-index: 1;
    cursor: pointer;
}
.hero-container .mid-Btn .tutorial-btn::before {
    content: url('images/arrow.svg'); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 2px 0px 0px 70px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.8s ease;
}

.hero-container .mid-Btn .tutorial-btn:hover::before {
    content: url('images/blue-arrow.svg'); 
}

.hero-container .mid-Btn .tutorial-btn:hover {
    background: linear-gradient(90deg, #0E43EE 0%, #0FCCFE 116.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.8s ease;
}

.hero-container .mid-Btn .btn{
    margin: 38px 0px 0px 0px;
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(2px);
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    border-radius: 4px;
    width: 170px;
    height: 48px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
    cursor: pointer;
} 


.hero-container .mid-Btn .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 0.536px solid transparent;
    background: 
    linear-gradient(90deg, rgb(14, 65, 237) 0%, rgb(15, 208, 254) 100%) padding-box,
    linear-gradient(160deg, #0084FF66, #FFFFFFB9, #FFFFFF00) border-box;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.hero-container .mid-Btn .btn:hover::before {
    opacity: 1;
  
}

.hero-container .mid-Btn .btn span {
    position: relative;
    z-index: 1;
}

.hero-container .dashboard-img{
    margin: 42px 0px 0px 0px;
    z-index: 1;
	position: relative;
    border-radius: 21.429px;
    border: 0.536px solid transparent;
    background: rgba(53, 45, 126, 0.2);
    backdrop-filter: blur(10px);
}

.hero-container .profile-img{
    margin: 19px 0px 0px 0px;
}

.hero-container .profile-img .profile-text-img{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    align-items: center;
}


.hero-container .profile-img .profile-text-img .profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60px;
  }
  
  .hero-container .profile-img .profile-text-img .profiles img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .hero-container .profile-img .profile-text-img .profiles img:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hero-container .profile-img .profile-text-img .profiles img:nth-child(3) {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  

.hero-container .profile-img .text{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-container .profile-img .text .num{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* BACKGROUND IMAGES */

/* Index page background images */

.hero-container .wave-svg{
    position: absolute;
    width: 100%;
    top: 414px;
    left: 50%;
    transform: translateX(-50%);
}


.eclips1{
    position: absolute;
    width: 582px;
    height: 582px;
    flex-shrink: 0;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    top: -90px;
    left: 726px;
}

.eclips2{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top: 262px;
    left: -109px;
}

.eclips3{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:850px;
    left: 1180px;
    z-index: 1;
}

.eclips4{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:1247px;
    left: -83px;
}

.eclips5{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:1443px;
    left: 422px;
}

.eclips6{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:2094px;
    left: 1058px;
}

.eclips7{
    position: absolute;
    width: 582px;
    height: 582px;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.20);
    filter: blur(100px);
    top:2341px;
    left: -141px;
}

.eclips8{
    position: absolute;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    width: 582px;
    height: 582px;
    flex-shrink: 0;
    top:3727px;
    left: -83px;
}

.eclips9{
    position: absolute;
    border-radius: 459px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    width: 459px;
    height: 459px;
    flex-shrink: 0;
    top:4390px;
    left: -83px;
}

.eclips10{
    position: absolute;
    width: 582px;
    height: 582px;
    flex-shrink: 0;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    top:4784px;
    left: 916px;
}


.eclips7{
    position: absolute;
    width: 582px;
    height: 582px;
    border-radius: 459px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:3579px;
    left:1039px;
}

.square{
    position: relative;
    justify-content: center;
    left: 1475px; 
    top: -100px;
}

.circle{
    position: relative;
    left: 130px;
    top: 160px;
}


.background1{
    position:absolute;
    background: linear-gradient(180deg, rgba(5, 5, 32, 0.00) 0%, #040833 100%);
    width: 100%;
    height: 343px;
    top: 3327px;
}

.ellipse-blog{
    position: absolute;
    width: 454px;
    height: 454px;
    flex-shrink: 0;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top: 1247px;
    left: 1091px;
}

.product-eclips1{
    position: absolute;
    width: 582px;
    height: 582px;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    margin: 900px -100px;
}

.product-eclips2{
    position: absolute;
    border-radius: 459px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    width: 459px;
    height: 459px;
    flex-shrink: 0;
    margin:1400px 1038px ;
}

.product-eclips3{
    position: absolute;
    width: 313px;
    height: 313px;
    flex-shrink: 0;
    border-radius: 313px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    margin:2100px 40px;
}


.product-eclips4{
    position: absolute;
    width: 582px;
    height: 582px;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    margin:2300px 719px;
}

/* services pages background images */

.service-eclips4{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:1700px;
    left: -83px; 
}

.service-eclips5{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 525px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:2400px;
    left: 1058px; 
}

.service-eclips6{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 525px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:3150px;
    left: -83px; 
}

.service-eclips7{
    position: absolute;
    width: 582px;
    height: 582px;
    flex-shrink: 0;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    top:3500px;
    left: 1118px; 
}

/* Cards  */
.cards {
    margin: 108px auto;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 95%;
    gap: 33px;
    z-index: 1;
    -webkit-mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.cards .animate-card {
    display: flex;
    gap: 33px;  
}

.cards .animate-card {
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-102%);
    }
}

.cards:hover .animate-card {
    animation-play-state: paused;
}

/* .animate-card .card{
    width: 259px;
    height: 272px;
    border-radius: 14px;
    background: linear-gradient(45deg, black,black) padding-box,
    linear-gradient(45deg, #0084FF66, #FFFFFFB9, #FFFFFF00) border-box;
    backdrop-filter: blur(17.14285659790039px);
    border: 0.536px solid transparent;
} */


.animate-card .card {
    width: 259px;
    height: 272px;
    border-radius: 14px;
    background:
    linear-gradient(rgb(23 17 52), rgb(20, 13, 56)) padding-box,
    linear-gradient(160deg,#0084FF66, #FFFFFFB9, #FFFFFF00) border-box;
    backdrop-filter: blur(17.14285659790039px);
    border: 2px solid rgba(102, 96, 160, 0.20);
}

.animate-card .card .svg{
    margin: 32px 0px 0px 32px;
    position: relative;
}

.animate-card .card .svg .sndImg{
    position: absolute;
    margin: 10px -43px;
}


.animate-card .card .card-heading{
    position: relative;
    z-index: 1;
    margin: 12px 0px 0px 28px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.animate-card .card .card-text{
    position: relative;
    z-index: 1;
    width: 203px;
    margin: 12px 28px 35px 28px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/* services section */

.services{
    display: grid;
    place-items: center;
}

.services .sevices-heading{
    color: #0084FF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 10px 0px 0px 0px;
    z-index: 1;
}

.services .sevices-heading .inner-text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.services .services-smallText{
    margin: 16px 0px 0px 0px;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
}

.services .service-card {
    display: flex;
    justify-content: space-between;
    margin: 41px 0px 0px 0px;
    position: relative;
    align-items: center;
    width: 68.75rem;
    height: 21.25rem;
    border-radius: 40px;
}

.services .service-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    background: linear-gradient(270deg, #0D4376 0%, #0B1168 100%);
    opacity: 0.3;
    
}

.services .service-card .image{
    margin: 30px 70px;
    opacity: 1;
    z-index: 1;
    width: 375.658px;
    height: 280px;
}

.services .service-card .text{
    margin: 30px 70px 0px 0px;
}

.services .service-card .text .card-heading{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.9;
}

.services .service-card .text .card-text{
    width: 463px;
    opacity: 0.7;
    margin: 12px 0px 0px 0px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.services .service-card .see-more-btn{
    margin: 24px 0px 0px 0px;
    display: flex;
    height: 20px;
    width: 107px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    opacity: 0.9;
}

.services .service-card .see-more-btn .see-text{
    color: #FFF;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-card .see-more-btn img{
    margin: 7px 0px 0px 0px;
}

.services .service-card2{
    display: flex;
    justify-content: space-between;
    margin: 41px 0px 0px 0px;
    position: relative;
    align-items: center;
    width: 68.75rem;
    height: 21.25rem;
    border-radius: 40px;
}


.services .service-card2 .text{
    margin: 30px 0px 0px 70px;
}

.services .service-card2 .card-heading{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-card2 .card-text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 464px;
    margin: 12px 0px 0px 0px;
    opacity: 0.7;
}

.services .service-card2 .image{
    margin: 30px 70px 0px 0px;
}

.services .service-card2 .see-more-btn{
    margin: 24px 0px 0px 0px;
    display: flex;
    height: 20px;
    width: 107px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    opacity: 0.9
}

.services .service-card2 .see-more-btn .see-text{
    color: #FFF;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-card2 .see-more-btn img{
    margin: 6px 0px 0px 0px;
}

.services .btn{
    margin: 32px 0px 0px 0px;
    width: 170px;
    height: 48px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(4px);
    cursor: pointer;
    z-index: 1;
}

.services .btn span{
    color: #FFF;
    width: 170px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 14px 19px;
}


.services .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(14, 65, 237) 0%, rgb(15, 208, 254) 100%);
    opacity: 0;
    transition: opacity 0.8s ease;
}

.services .btn:hover::before {
    opacity: 1;
}

.services .btn span {
    position: relative;
    z-index: 1;
}

.line{
    text-align:center;
    margin: 75px 0px;
}

.company-heading-div{
    text-align: center;
}

.company-heading-div .company-heading{
    color: #0084FF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company-heading-div .company-heading .inner-text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company-heading-div .company-text{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 0px;
}

.company-cards{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 63px auto;
    max-width: 1126px;
}

.company-cards .card2{
    cursor: pointer;
    width: 161px;
    height: 103px;
    border-radius: 4.286px;
    background: linear-gradient(324deg, #0FD3FE 4.62%, #0E41ED 73.66%);
    backdrop-filter: blur(2.142857074737549px);
    padding: 30px 22px;
}

.company-cards .card1{
    cursor: pointer;
    width: 161px;
    height: 103px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(17.14285659790039px);
    padding: 30px 22px;
}


.company-cards .card1 svg{
    position:relative;
    z-index: 1;
}



.company-cards .card1:hover{
    cursor: pointer;
    width: 161px;
    height: 103px;
    border-radius: 4.286px;
    backdrop-filter: blur(2.142857074737549px);
    padding: 30px 22px;
}


.company-cards .card1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(324deg, #0FD3FE 4.62%, #0E41ED 73.66%);
    opacity: 0;
    border-radius: inherit;
    transition: opacity 0.8s ease; /* Transition on opacity */

}

.company-cards .card1:hover::before {
    opacity: 1; /* Fully visible on hover */

}

.testimonials{
    margin: 162px 0px 0px 0px;
    text-align: center;
    position: relative;
}

.testimonials .testimonials-heading{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
}

.testimonials .testimonials-heading .inner-text{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testimonials .testimonials-text{
    margin: 16px 0px 0px 0px;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.upper-card{
    z-index: 1;
    position: relative;
    display: flex;
    width: 95%;
    overflow: hidden;
    margin:0 auto;
    gap: 18px;
    -webkit-mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.upper-card .testimonial-cards{
    display: flex;
    gap: 18px;
}

.upper-card .testimonial-cards{
    animation: scrollX 30s linear infinite;
}

@keyframes scrollX {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100.7%);
    }
}


.upper-card:hover .testimonial-cards{
    animation-play-state: paused;
}

.testimonial-cards .btn-class{
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 95%;
    margin-top: 230px;  
    height: 200px;
}

.testimonial-cards .btn-class .pre-btn{
    color: white;
    margin-left: -20px;

}

.testimonial-cards .btn-class .nxt-btn{
    color: white;
    margin-right: -20px;
}

/* .testimonial-cards .colors{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.testimonial-cards .colors .first{
    margin-top: 86px;
    position: absolute;
    width: 20px;
    height: 300px;
    background: linear-gradient(to right, #0FD3FE, #0E41ED);
}

.testimonial-cards .colors .second{
    margin-top: 86px;
    position: relative;
    width: 20px;
    height: 300px;
    background: linear-gradient(to right, #0FD3FE, #0E41ED);
} */

.testimonial-cards .testimonial-card{
    margin: 88px 0px 0px 0px;
    width: 461px;
    height: 297px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0.3px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(2px);
}

.testimonial-cards .testimonial-card .image{
    width: 80px;
    height: 80px;
    margin: 26px 0px 0px 24px;
}

.testimonial-cards .testimonial-card .name{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 12px 0px 0px 24px;
}

.testimonial-cards .testimonial-card .role{
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 8px 0px 0px 24px;
    width: 412px;
}

.testimonial-cards .testimonial-card .detail{
    width: 412px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 24px;
}

.svg-container {
    height: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 48px 0px 0px 0px;
}

.gradient-rect {
    width: 43.8px;
    height: 12px;
    border-radius: 3.67421px;
    background: linear-gradient(to right, #0FD3FE, #0E41ED);
    right: 0;
    transform: scaleX(-1);
}

.solid-rect {
    width: 12.6px;
    height: 12px;
    border-radius: 6px;
    background-color: #373F7D;
    display: inline-block;
}

.schudule-card{
    position: relative;
    margin: 56px auto;
    width: 944px;
    height: 261px;
    border-radius: 16px;
    background: linear-gradient(270deg, #180846 0%, #131157 100%);
    z-index: 1;
}

.schudule-card .schudule-text{
    position: relative;
    width: 760px;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 51px 52px;
    margin: 0 auto;
    z-index: 1;
}

.schudule-card .schudule-text .inner-text{
    color: #0FD2FE;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.schudule-card .btn{
    margin: 0 auto;
    width: 170px;
    height: 48px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(2px);
    cursor: pointer;
}
.schudule-card .btn .text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 12px 0px;

}

.schudule-card .bg-img{
    position: absolute;
    width: 943.999px;
    height: 185.927px;
    margin: 38px 0px;
}


/* Footer */

footer{
    position: absolute;
    justify-content: center;
    height: 452px;
    background: #04031B;
    width: 100%;
    margin: -150px 0px 0px 0px;
}

footer .footer{
    display: flex;
    padding: 204px 150px 0px 150px;
    justify-content: space-between;
}

footer .footer-logo-section .name-logo{
    display: flex;
    gap: 13px;
    align-items: center;
}

footer .footer-logo-section .name-logo .image{
    width: 28.488px;
    height: 32px;
    margin: 0px 0px 0px 0px;
}

footer .footer-logo-section .name-logo .name{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .footer-logo-section .text{
    margin: 16px 0px 0px 0px;
    width: 188px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 188px;
}


.footer .footer-content .name{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer .footer-content ul{
    list-style: none;
    margin-top: 12px;
}

.footer .footer-content ul li{
    margin-top: 8px;
    max-width: 180px;
}

.footer .footer-content ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 1400px) {
    .hero-container .wave-svg img{
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}




/* Contact Us page  */

/* Bckground image */

.ellipse-contact{
    position: absolute;
    width: 526px;
    height: 526px;
    border-radius: 526px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    margin: 400px 0px 0px -88px;
}

.contact-card{
    width: 942px;
    height: 632px;
    border-radius: 14px;
    border: 0.536px solid rgba(71, 58, 129, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    margin: 0 auto;
    padding: 32px 32px;
}

.contact-card .text{
    text-align: left;
}

.contact-card .text h3{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-card .text p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 0px;
}

.contact-card label p{
    margin: 24px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-card label input{
    width: 878px;
    height: 42px;
    border-radius: 4px;
    border: 0.536px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    margin: 8px 0px 0px 0px;
    background-color: transparent;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    padding: 14px 14px;
}

.contact-card label textarea{
    margin: 8px 0px 0px 0px;
    width: 878px;
    height: 140px;
    border-radius: 4px;
    border: 0.536px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    background-color: transparent;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    padding: 14px 14px;
}

.contact-card button{
    width: 878px;
    height: 48px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.30) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(2px);
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 36px 0px 0px 0px;
    cursor: pointer;
}

.social-media{
    position: relative;
    margin: 48px 0px 0px 0px;
    text-align: center;
    z-index: 1;
}

.social-media p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.social-media .links{
    margin: 24px 0px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 48px;
}


/* Blogs Stylings */

.blog-buttons{
    display: flex;
    justify-content: center;
    gap: 11px;
}

.blog-buttons button{
    padding:  9px 22px;
    border-radius: 40px;
    border: 0.536px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.blog-buttons .active{
    border-radius: 40px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(2px);
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blog{
    margin: 66px auto;
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
    max-width: 1140px;
}

.blog-cards{
    width: 556px;
    height: 380px;
    flex-shrink: 0;
    border-radius: 21.429px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(17.14285659790039px);
    padding: 24px 24px;
}

.blog-cards .background-img{
    width: 100%;
    height: 208px;
    border-radius: 8px;
    background: #004AAD;
    padding: 25px 44px;
}

.blog-cards .middle-card{
    width: 491px;
    margin: 12px 0px 0px 0px;
}

.blog-cards .middle-card h3{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blog-cards .middle-card p{
    margin: 8px 0px 0px 0px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-cards .middle-card p .read-more{
    opacity: 0.7;
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.blog-cards .last-card{
    display: flex;
    justify-content: space-between;
    margin: 24px -12px;
}

.blog-cards .last-card .profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.blog-cards .last-card .profile img{
    width: 49px;
    height: 49px;
    border-radius: 49px;
}

.blog-cards .last-card .profile .name-date h4{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blog-cards .last-card .profile .name-date p{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
}

.blog-cards .last-card .save-btn{
    position: relative;
    width: 32px;
    height: 32px;
    margin: 12px 0px 5px 0px;
    cursor: pointer;
}


/* pagination */

.pagination{
    height: 60px;
    background: rgba(1, 4, 28, 0.00);
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    justify-content: center;
}

.pagination .pre-btn{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(26.830238342285156px);
    padding: 8px 8px;
    cursor: pointer;
}

.pagination .nxt-btn{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(26.830238342285156px);
    padding: 8px 8px;
    cursor: pointer;
}

.pagination .middle-page{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(26.830238342285156px);
    padding: 8px 16px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.pagination .active{
    background: linear-gradient(135deg, #0084FF 0%, #0FD3FE 100%);
    backdrop-filter: blur(26.830238342285156px);
    padding: 8px 15px;
    cursor: pointer;
}

/* Product page styling */

.product{
    margin: 32px 220px 0px 220px;
    display: flex;
    justify-content: center;
    gap: 21px;
}

.product .side-cards .product-card1{
    display: flex;
    height: 222px;
    border-radius: 12px;
    background: linear-gradient(-90deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(17.14285659790039px);
}

.product .side-cards .product-card1 img{
    margin: 19px 34px;
}

.product .side-cards .product-card1 h3{
    margin: 49px 41px 0px 0px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.7;
}

.product .side-cards .product-card1 p{
    width: 383px;
    margin: 12px 41px 0px 0px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}


.product .side-cards .product-card2{
    display: flex;
    height: 222px;
    border-radius: 12px;
    background: linear-gradient(90deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(17.14285659790039px);
    margin-top: 16px;
}

.product .side-cards .product-card2 img{
    margin: 19px 34px;
}

.product .side-cards .product-card2 h3{
    margin: 49px 0px 0px 41px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.7;
}

.product .side-cards .product-card2 p{
    width: 383px;
    margin: 12px 0px 0px 41px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}

.product .product-card3{
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(17.14285659790039px);
    padding: 0px 51px 33px 51px;
}

.product .product-card3 h3{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
    margin-top: 34px;
}

.product .product-card3 p{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 370px;
    margin-top: 12px;
    opacity: 0.7;
}


.youtube-video{
    width: 944px;
    height: 508px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(1px);
    margin:32px auto;
    position: relative;
    z-index: 1;
}

.youtube-video iframe{
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

/* Blogs on home page */


.blog-upperText{
    margin: 130px 0px 0px 0px;
    text-align: center;
    position: relative;
}

.blog-upperText .blog-heading{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
}

.blog-upperText .inner-text{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blog-upperText .blog-text{
    margin: 16px 0px 0px 0px;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* Animations */

.desktop-nav{
    animation: fadeDown 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.services .sevices-heading{
    animation: fadeDown 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.services .services-smallText{
    animation: fadeDown 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.services .service-card .image {
    animation: fadeX 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.services .service-card .text{
    animation: fadeY 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.services .service-card2 .image{
    animation: fadeY 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.services .service-card2 .text{
    animation: fadeX 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
}

.services .btn{
    animation: fadeUp 3000ms forwards;
    opacity: 0;
    animation-delay: 1s;
}

.company-heading-div{
    animation: fadeDown 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
    animation-delay: 1s;
}

.testimonials{
    animation: fadeDown 3000ms forwards;
    opacity: 0;
    position: relative;
    z-index: 1;
    animation-delay: 1s; 
}


.hero-container .main-text{
    animation: fadeIn 2000ms forwards;
    opacity: 0;
    animation-delay: 500ms;
}

.hero-container .small-text{
    animation: fadeIn 2000ms forwards;
    opacity: 0;
    animation-delay: 500ms;
}

.hero-container .mid-Btn .tutorial-btn{
    animation: fadeIn 2000ms forwards;
    opacity: 0;
    animation-delay: 500ms;
}

.hero-container .mid-Btn .btn{
    animation: fadeIn 2000ms forwards;
    opacity: 0;
    animation-delay: 500ms;
}

.hero-container .dashboard-img{
    animation: fadeUp 3000ms forwards;
    opacity: 0;
}

/* .testimonial-cards{
    animation: fadeIn 3000ms forwards;
    opacity: 0;
} */

.schudule-card .schudule-text{
    animation: fadeDown 3000ms forwards;
    opacity: 0;
}

.schudule-card .btn{
    animation: fadeUp 3000ms forwards;
    opacity: 0;
}

footer{
    animation: fadeUp 3000ms forwards;
    opacity: 0  
}
@keyframes fadeX {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@keyframes fadeY {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
    
}


@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    100%{
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .animate-card {
    animation: slide 3000ms infinite linear;
}

@keyframes slide {
    form {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-100px);
    }
} */


