*{
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background: #01041C;
    overflow-x: hidden;
}

.desktop{
    background: #01041C;

}

.desktop-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Desktop Logo styling*/

.desktop-nav .logo{
    display: flex;
    align-items: center;
    margin: 16px 0px 0px 152px;
    gap: 13.5px;
}

.desktop-nav .logo .logo-text{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Desktop Manu styling*/

.desktop-nav .main-manu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.desktop-nav .main-manu li{
    list-style: none;
    margin: 23px 0px 0px 0px;
}

.desktop-nav .main-manu li a{
    text-decoration: none;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    z-index: 1;
}

.desktop-nav .main-manu li a.active{
	color: #0084FF;
	font-family: Plus Jakarta Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.desktop-nav .main-manu li a.active::after{
    content: "";
    position: absolute;
    width: 100%;
	height: 2px;
	background: #0084FF;
	left: 0px;
	bottom: -6px;
}

/* Desktop Navbar Get Started Button styling*/

.desktop-nav .btn{
    width: 117px;
    height: 36px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.2), rgba(102, 96, 160, 0));
    backdrop-filter: blur(4px);
    border: 0.5px solid rgba(0, 132, 255, 0.4);
    box-sizing: border-box;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 15px 152px 0px 0px;
    cursor: pointer;
    z-index: 1;
}

/* Desktop Middle text styling*/

.hero-container{
  text-align: center;
}

.hero-container .main-text{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 123px 0px 0px 0px;
    position: relative;
    z-index: 1;
}

.hero-container .main-text .inner-text{
    background: linear-gradient(268deg, #0FD3FE 8.33%, #0E41ED 66.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-container .small-text{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 0px;
    position: relative;
    z-index: 1;
}

.hero-container .mid-Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-container .mid-Btn .tutorial-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 40px 0px 0px 0px;
    z-index: 1;
    cursor: pointer;
}
.hero-container .mid-Btn .tutorial-btn::before {
    content: url('images/arrow.svg'); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 2px 0px 0px 70px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.8s ease;
}

.hero-container .mid-Btn .tutorial-btn:hover::before {
    content: url('images/blue-arrow.svg'); 
}

.hero-container .mid-Btn .tutorial-btn:hover {
    background: linear-gradient(90deg, #0E43EE 0%, #0FCCFE 116.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.8s ease;
}

.hero-container .mid-Btn .btn{
    margin: 38px 0px 0px 0px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.2), rgba(102, 96, 160, 0));
    backdrop-filter: blur(2px);
    border: 0.5px solid rgba(0, 132, 255, 0.4);
    box-sizing: border-box;
    width: 170px;
    height: 48px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
    cursor: pointer;
} 


.hero-container .mid-Btn .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(14, 65, 237) 0%, rgb(15, 208, 254) 100%);
    opacity: 0;
    transition: opacity 0.8s ease;
}

.hero-container .mid-Btn .btn:hover::before {
    opacity: 1;
}

.hero-container .mid-Btn .btn span {
    position: relative;
    z-index: 1;
}

.hero-container .dashboard-img{
    margin: 42px 0px 0px 0px;
    z-index: 1;
	position: relative;
    border-radius: 21.429px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: rgba(53, 45, 126, 0.2);
    backdrop-filter: blur(10px);
}

.hero-container .profile-img{
    margin: 19px 0px 0px 0px;
}

.hero-container .profile-img .profile-text-img{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    align-items: center;
}


.hero-container .profile-img .profile-text-img .profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60px;
  }
  
  .hero-container .profile-img .profile-text-img .profiles img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .hero-container .profile-img .profile-text-img .profiles img:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .hero-container .profile-img .profile-text-img .profiles img:nth-child(3) {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  

.hero-container .profile-img .text{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-container .profile-img .text .num{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* BACKGROUND IMAGES */

/* Index page background images */

.hero-container .wave-svg{
    position: absolute;
    width: 100%;
    top: 414px;
    left: 50%;
    transform: translateX(-50%);
}


.eclips1{
    position: absolute;
    width: 582px;
    height: 582px;
    flex-shrink: 0;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    top: -90px;
    left: 726px;
}

.eclips2{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top: 262px;
    left: -109px;
}

.eclips3{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:850px;
    left: 1180px;
    z-index: 1;
}

.eclips4{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:1247px;
    left: -83px;
}

.eclips5{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:1443px;
    left: 422px;
}

.eclips6{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:2094px;
    left: 1058px;
}

.eclips7{
    position: absolute;
    width: 582px;
    height: 582px;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.20);
    filter: blur(100px);
    top:2341px;
    left: -141px;
}

.eclips8{
    position: absolute;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    width: 582px;
    height: 582px;
    flex-shrink: 0;
    top:3727px;
    left: -83px;
}

.eclips7{
    position: absolute;
    width: 582px;
    height: 582px;
    border-radius: 459px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:3579px;
    left:1039px;
}

.square{
    position: relative;
    justify-content: center;
    left: 1475px; 
    top: -100px;
}

.circle{
    position: relative;
    left: 130px;
    top: 160px;
}


.background1{
    position:absolute;
    background: linear-gradient(180deg, rgba(5, 5, 32, 0.00) 0%, #040833 100%);
    width: 100%;
    height: 343px;
    top: 3327px;
}

.ellipse-blog{
    position: absolute;
    width: 454px;
    height: 454px;
    flex-shrink: 0;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top: 1247px;
    left: 1091px;
}

/* services pages background images */

.service-eclips4{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 454px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:1700px;
    left: -83px; 
}

.service-eclips5{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 525px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:2400px;
    left: 1058px; 
}

.service-eclips6{
    position: absolute;
    width: 454px;
    height: 454px;
    border-radius: 525px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    top:3150px;
    left: -83px; 
}

.service-eclips7{
    position: absolute;
    width: 582px;
    height: 582px;
    flex-shrink: 0;
    border-radius: 582px;
    background: rgba(123, 1, 167, 0.30);
    filter: blur(100px);
    top:3500px;
    left: 1118px; 
}

/* Cards  */

.cards{
    margin: 108px 400px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 33px;
}

.card{
    width: 259px;
    height: 272px;
    border-radius: 14px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(17.14285659790039px);
}

.card .svg{
    margin: 32px 0px 0px 32px;
    position: relative;
}

.card .svg .sndImg{
    position: absolute;
    margin: 10px -43px;
}


.card .card-heading{
    margin: 12px 0px 0px 28px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card .card-text{
    width: 203px;
    margin: 12px 28px 35px 28px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/* services section */

.services{
    display: grid;
    place-items: center;
}

.services .sevices-heading{
    color: #0084FF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 120px 0px 0px 0px;
    z-index: 1;
}

.services .sevices-heading .inner-text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.7;
}


.services .services-smallText{
    margin: 16px 0px 0px 0px;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
}

.services .service-card {
    display: flex;
    justify-content: space-between;
    margin: 41px 0px 0px 0px;
    position: relative;
    align-items: center;
    width: 68.75rem;
    height: 21.25rem;
    border-radius: 40px;
}

.services .service-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    background: linear-gradient(270deg, #0D4376 0%, #0B1168 100%);
    opacity: 0.3;
    
}

.services .service-card .image{
    margin: 30px 70px;
    opacity: 1;
    z-index: 1;
    width: 375.658px;
    height: 280px;
}

.services .service-card .text{
    margin: 30px 70px 0px 0px;
}

.services .service-card .text .card-heading{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.9;
}

.services .service-card .text .card-text{
    width: 463px;
    opacity: 0.7;
    margin: 12px 0px 0px 0px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.services .service-card .see-more-btn{
    margin: 24px 0px 0px 0px;
    display: flex;
    height: 20px;
    width: 107px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    opacity: 0.9;
}

.services .service-card .see-more-btn .see-text{
    color: #FFF;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-card .see-more-btn img{
    margin: 7px 0px 0px 0px;
}

.services .service-card2{
    display: flex;
    justify-content: space-between;
    margin: 41px 0px 0px 0px;
    position: relative;
    align-items: center;
    width: 68.75rem;
    height: 21.25rem;
    border-radius: 40px;
}


.services .service-card2 .text{
    margin: 30px 0px 0px 70px;
}

.services .service-card2 .card-heading{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-card2 .card-text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 464px;
    margin: 12px 0px 0px 0px;
    opacity: 0.7;
}

.services .service-card2 .image{
    margin: 30px 70px 0px 0px;
}

.services .service-card2 .see-more-btn{
    margin: 24px 0px 0px 0px;
    display: flex;
    height: 20px;
    width: 107px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    opacity: 0.9
}

.services .service-card2 .see-more-btn .see-text{
    color: #FFF;
    text-align: right;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-card2 .see-more-btn img{
    margin: 6px 0px 0px 0px;
}

.services .btn{
    margin: 32px 0px 0px 0px;
    width: 170px;
    height: 48px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(4px);
    cursor: pointer;
    z-index: 1;
}

.services .btn span{
    color: #FFF;
    width: 170px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 14px 19px;
}


.services .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(14, 65, 237) 0%, rgb(15, 208, 254) 100%);
    opacity: 0;
    transition: opacity 0.8s ease;
}

.services .btn:hover::before {
    opacity: 1;
}

.services .btn span {
    position: relative;
    z-index: 1;
}

.line{
    text-align:center;
    margin: 75px 0px;
}

.company-heading-div{
    text-align: center;
}

.company-heading-div .company-heading{
    color: #0084FF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company-heading-div .company-heading .inner-text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.company-heading-div .company-text{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 0px;
}

.company-cards{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 63px auto;
    max-width: 1126px;
}

.company-cards .card2{
    cursor: pointer;
    width: 161px;
    height: 103px;
    border-radius: 4.286px;
    background: linear-gradient(324deg, #0FD3FE 4.62%, #0E41ED 73.66%);
    backdrop-filter: blur(2.142857074737549px);
    padding: 30px 22px;
}

.company-cards .card1{
    cursor: pointer;
    width: 161px;
    height: 103px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(17.14285659790039px);
    padding: 30px 22px;
}

.testimonials{
    margin: 162px 0px 0px 0px;
    text-align: center;
    position: relative;
}

.testimonials .testimonials-heading{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 1;
}

.testimonials .testimonials-heading .inner-text{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testimonials .testimonials-text{
    margin: 16px 0px 0px 0px;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.testimonial-cards{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 18px;
    margin:  0px 0px 0px 153px;
}

.testimonial-cards .testimonial-card{
    margin: 88px 0px 0px 0px;
    width: 461px;
    height: 297px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0.3px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(2px);
}

.testimonial-cards .testimonial-card .image{
    width: 80px;
    height: 80px;
    margin: 26px 0px 0px 24px;
}

.testimonial-cards .testimonial-card .name{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 12px 0px 0px 24px;
}

.testimonial-cards .testimonial-card .role{
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 8px 0px 0px 24px;
    width: 412px;
}

.testimonial-cards .testimonial-card .detail{
    width: 412px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 24px;
}

.svg-container {
    height: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 48px 0px 0px 0px;
}

.gradient-rect {
    width: 43.8px;
    height: 12px;
    border-radius: 3.67421px;
    background: linear-gradient(to right, #0FD3FE, #0E41ED);
    right: 0;
    transform: scaleX(-1);
}

.solid-rect {
    width: 12.6px;
    height: 12px;
    border-radius: 6px;
    background-color: #373F7D;
    display: inline-block;
}

.schudule-card{
    position: relative;
    margin: 56px auto;
    width: 944px;
    height: 261px;
    border-radius: 16px;
    background: linear-gradient(270deg, #180846 0%, #131157 100%);
    z-index: 1;
}

.schudule-card .schudule-text{
    position: relative;
    width: 760px;
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 51px 52px;
    margin: 0 auto;
    z-index: 1;
}

.schudule-card .schudule-text .inner-text{
    color: #0FD2FE;
    font-family: Plus Jakarta Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.schudule-card .btn{
    margin: 0 auto;
    width: 170px;
    height: 48px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(2px);
    cursor: pointer;
}
.schudule-card .btn .text{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 12px 0px;

}

.schudule-card .bg-img{
    position: absolute;
    width: 943.999px;
    height: 185.927px;
    margin: 38px 0px;
}


/* Footer */

footer{
    position: absolute;
    justify-content: center;
    height: 452px;
    background: #04031B;
    width: 100%;
    margin: -150px 0px 0px 0px;
}

footer .footer{
    display: flex;
    padding: 204px 150px 0px 150px;
    justify-content: space-between;
}

footer .footer-logo-section .name-logo{
    display: flex;
    gap: 13px;
    align-items: center;
}

footer .footer-logo-section .name-logo .image{
    width: 28.488px;
    height: 32px;
    margin: 0px 0px 0px 0px;
}

footer .footer-logo-section .name-logo .name{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer .footer-logo-section .text{
    margin: 16px 0px 0px 0px;
    width: 188px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 188px;
}


.footer .footer-content .name{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer .footer-content ul{
    list-style: none;
    margin-top: 12px;
}

.footer .footer-content ul li{
    margin-top: 8px;
    max-width: 180px;
}

.footer .footer-content ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 1400px) {
    .hero-container .wave-svg img{
        position: absolute;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}




/* Contact Us page  */

/* Bckground image */

.ellipse-contact{
    position: absolute;
    width: 526px;
    height: 526px;
    border-radius: 526px;
    background: rgba(54, 1, 167, 0.30);
    filter: blur(100px);
    margin: 400px 0px 0px -88px;
}

.contact-card{
    width: 942px;
    height: 632px;
    border-radius: 14px;
    border: 0.536px solid rgba(71, 58, 129, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    margin: 0 auto;
    padding: 32px 32px;
}

.contact-card .text{
    text-align: left;
}

.contact-card .text h3{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-card .text p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 0px 0px;
}

.contact-card label p{
    margin: 24px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.contact-card label input{
    width: 878px;
    height: 42px;
    border-radius: 4px;
    border: 0.536px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    margin: 8px 0px 0px 0px;
    background-color: transparent;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    padding: 14px 14px;
}

.contact-card label textarea{
    margin: 8px 0px 0px 0px;
    width: 878px;
    height: 140px;
    border-radius: 4px;
    border: 0.536px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    background-color: transparent;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    padding: 14px 14px;
}

.contact-card button{
    width: 878px;
    height: 48px;
    border-radius: 4px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.30) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(2px);
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 36px 0px 0px 0px;
    cursor: pointer;
}

.social-media{
    position: relative;
    margin: 48px 0px 0px 0px;
    text-align: center;
    z-index: 1;
}

.social-media p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.social-media .links{
    margin: 24px 0px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 48px;
}


/* Blogs Stylings */

.blog-buttons{
    display: flex;
    justify-content: center;
    gap: 11px;
}

.blog-buttons button{
    padding:  9px 22px;
    border-radius: 40px;
    border: 0.536px solid rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(17.14285659790039px);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.blog-buttons .active{
    border-radius: 40px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: linear-gradient(180deg, rgba(102, 96, 160, 0.20) 0%, rgba(102, 96, 160, 0.00) 100%);
    backdrop-filter: blur(2px);
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blog{
    margin: 66px auto;
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
    max-width: 1140px;
}

.blog-cards{
    width: 365px;
    height: 431px;
    border-radius: 21.429px;
    border: 0.536px solid rgba(0, 132, 255, 0.40);
    background: rgba(102, 96, 160, 0.20);
    backdrop-filter: blur(17.14285659790039px);
    padding: 24px 24px;
}

.blog-cards .background-img{
    width: 315px;
    height: 168px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #004AAD;
    padding: 32px 25px;
}

.blog-cards .middle-card{
    width: 320px;
    margin: 12px 0px 0px 0px;
}

.blog-cards .middle-card h3{
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blog-cards .middle-card p{
    margin: 8px 0px 0px 0px;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.blog-cards .middle-card p .read-more{
    opacity: 0.7;
    color: #0084FF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.blog-cards .last-card{
    display: flex;
    justify-content: space-between;
    margin: 24px -12px;
}

.blog-cards .last-card .profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.blog-cards .last-card .profile img{
    width: 49px;
    height: 49px;
    border-radius: 49px;
}

.blog-cards .last-card .profile .name-date h4{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.blog-cards .last-card .profile .name-date p{
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.7;
}

.blog-cards .last-card .save-btn{
    position: relative;
    width: 32px;
    height: 32px;
    margin: 12px 0px 5px 0px;
    cursor: pointer;
}